.main {
	min-height: 75vh;
	padding: 0 200px 0 200px;
}

.nav-wrapper {
	padding-left: 200px;
	padding-right: 200px;
}

.hero {
	padding: 0 200px 0 200px;
	overflow: hidden;
	background-color: #c3ecfff6;
	background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23064642' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hero h1 {
	border-radius: 3px;
	background-image: linear-gradient(
		45deg,
		rgb(255, 255, 255),
		transparent
	);
}

section {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	min-height: 350px;
	margin: 20px;
	padding: 10px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: rgb(235, 232, 232);
}

#HeadLine {
	font-size: 20px;
}

section#stuff {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

section p {
	align-self: center;
	font-size: large;
	width: 50%;
}

.kade {
	color: rgb(0, 121, 202);
}

@font-face {
	font-family: 'digit';
	src: url('digit.ttf') format('woff2');
}

@media screen and(max-width: 1280px) {
	.hero {
		padding: 0 120px 0 120px;
	}
}

@media screen and (max-width: 600px) {
	.hero {
		padding: 0 20px 0 20px;
	}
}
